body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 70px 0 0;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
  top: 0;
}

.logo {
  display: flex;
  background-color: black;
  padding-left: 10px;
  flex-grow: 1;
}

header img {
  height: 50px;
}

nav {
  text-align: right;
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  text-decoration: underline;
  color: white;
}

div {
  display: block;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.image {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.image.mission {
  background: url('./img-mission-background.jpg');
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  flex-flow: column;
  align-items: stretch;
}

.image.mission h2,
h4 {
  background-color: black;
  padding: 10px;
  margin: 0;
  justify-content: center;
}

#store-items {
  display: flex;
  width: 1000px;
  height: 700px;
  padding-top: 35px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  padding: 5px;
}

.menu img {
  height: 200px;
  width: 300px;
  display: block;
}

.menu span {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

#locations {
  background: url('./img-locations-background.jpg');
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}

#locations .image {
  width: 100%;
}

h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

.address-list {
  display: flex;
  justify-content: center;
}

.address {
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 30px;
  margin: 5px 20px;
  opacity: 1;
  height: 220px;
}

#contact {
  height: 200px;
}

footer {
  align-self: flex-start;
  padding-left: 20px;
}
